* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222831;
  color: #e2dfd0;
}

.scoreboard {
  background-color: #35374b;
  width: 100vw;
  height: 15vh;
  text-align: center;
  line-height: 2rem;
}

.btn {
  width: 150px;
  height: 50px;
  display: block;
  font-weight: bolder;
  font-size: 2rem;
}

#rock-btn {
  background-color: #808080;
  color: #1a1a40;
  border: #696969;
}

.btns-container {
  display: flex;
  justify-content: center;
}
